<h1><%= @day.cohort_name %></h1>

<h2>Pitch details</h2>
<table id="pitches">
	<tr>
		<th class="proposer"  >Proposer</th>
		<th class="pitch_name" >Pitch name</th>
		<th>Pitch Description</th>
	</tr>

    <% @day.pitches.each do |pitch| %>
    	<tr>
    	  <td class="proposer"><%= pitch.proposer %></td>
    	  <td class="pitch_name"><%= pitch.name %></td>
    	  <td class="pitch_description"><%= pitch.description %></td>
    	</tr>
    <% end %>
</table>