<h1><%= @day.cohort_name %></h1>

<table id="pitches">
	<tr>
		<th>Proposer</th>
		<th>Pitch name</th>
		<th>Pitch Description</th>
	</tr>

    <% @day.pitches.each do |pitch| %>
    	<tr>
    	  <td><%= pitch.proposer %></td>
    	  <td><%= pitch.name %></td>
    	  <td><%= pitch.description %></td>
    	</tr>
    <% end %>
</table>