
<% if @rounds %>
   <ul>
     <% @rounds.each do |round| %>
       <li><%= link_to  "#{round.day.cohort_name} (#{round.day.location}) round #{round.round_number}", new_ballot_paper_path(round_id: round.id) %></li>
     <% end %>
   </ul>
<% end %>

<% if @round %>
  <%= render partial: 'round', locals: { round: @round} %>
<% end %>
