<h1>Your votes in <%= @round.cohort_name %>  round <%= @round.round_number %> </h1>

<div class="vote_card">
<ol id="votes_cast">
  <% @votes.each do |vote| %>
    <li><%= vote.candidate.pitch_name %> (<%= vote.candidate.pitch_proposer %>)</li>

  <% end %>
</ol>
</div>