.alert-box {
  margin:20px;
}

main {
  margin:20px 0;
  background-color: white; 
}

table#pitches {
	th.proposer, th.pitch_name, td.proposer, td.pitch_name {
	   width:200px;
	}
  th#pitch_actions {
     width:100px;
  }
}

table#scores {
  width: 50%;
  .score {
    text-align:right;
    width:20%;
  }
} 

#candidate_selection_area {
	margin-top:20px;

    .candidates {
      padding:0px;
      background-color:white;
      width:500px;
      margin:20px 0;

      h4 {
        font-size:1.2em;
      }

      ul {
        list-style:none;
        margin: 0; 
        padding: 30px 10px; 
      }

      .cand {
      border : 1px solid black;
      margin: 5px;
      padding: 5px;
      background-color: #CCC;

        .proposer {
        font-size:smaller;
        font-style:italic;
        }
      }

    }


}