<%# add navigation links to this file %>
<% if current_user %>

    <% if staff_logged_in %>
    <li><%= link_to 'Create a day', new_day_path %></li>
    <% end %>

  <% if @day %>
    <li><%= link_to 'Cast a vote', new_ballot_paper_path %></li>
  <% end %>
<li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', '/auth/dbc' %></li>
<% end %>
